{%extends 'base.html'%}

{%block content%}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-outline-danger">드리머리 알아보기</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        
        <!-- 디자이너 글 띄우는 곳 -->
        <div class="col-md-4" onclick="location.href='/링크거는곳'">
          <div class="card mb-4 shadow-sm">
            <img src="사진 넣는곳" alt="desingerImage" height="250px">
            <div class="card-body">
              <h3 class="card=title">디자이너이름</h3>
              <h5 class="card-text">디자이너주소</h5>
              <p class="card-text">디자이너 설명</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

</main>

{%endblock%}